* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Lato", sans-serif;
}

.landing {
    min-height: 100vh;
    background: url("./about.svg");
    background-size: cover;
    padding: 0rem 5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links {
    display: flex;
    color: rgb(206, 195, 233);
    list-style: none;
}

.nav-links a {
    padding-left: 10rem;
    display: flex;
    align-items: left;
    justify-content: space-between;
    font-size: 1.2rem;
    color: rgb(206, 195, 233);
    text-decoration: none;
}

.logo {
    width: 100px;
    height: 100px;
}

.frontpage-img {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-80%, -40%);
}

#logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
}

.big-text {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: rgb(16, 3, 46);
}

.intro-para1 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    font-size: 20px;
    font-family: "Lobster", cursive;
    color: rgb(16, 3, 46);
}

.intro-para2 {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-30%, -55%);
    font-size: 20px;
    font-family: "Lobster", cursive;
    color: rgb(16, 3, 46);
}

.intro {
    background: black;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgb(62, 56, 71);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: rgb(206, 195, 233);
    font-family: "Lato", sans-serif;
    font-size: 3rem;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}
